:root {
    --primary-color: #FF005C;
    --background-color: #303030;
    --transparent-background-color: rgba(48, 48, 48, 0.66);
    --transparent-foreground-color: rgba(255, 255, 255, 0.66);
    --darker-background-color: #212121;
    --foreground-color: white;
    --blue: #007CFF;
    --green: #1ACB0C;
    --red: #CB0C0C;
    --grey: #989898;
}
