:root {
    --large-profile-picture-size: 56px;
    --nav-bar-height: 84px;  // mobile
    --nav-bar-width: 100px;  // desktop
    --bottom-safe-area: 34px;  // mobile
    --top-safe-area: 44px;  // mobile
}