:root {
    --large-profile-picture-size: 56px;
    --nav-bar-height: 84px;  // mobile
    --nav-bar-width: 100px;  // desktop
    --top-bar-height: 48px;
}

@media (min-width: 500px) {  // keep in sync with screen size service
    :root {
        --top-bar-height: 100px;
    }
  }