.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &.multi {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        white-space: pre-wrap;
    }
}



h1 { font-weight: bold !important; }

h2 { font-weight: normal !important; }

.no-margin-bottom {
    margin-bottom: 0 !important;
}