<ng-container *ngIf="this.idea as i">

    <app-top-bar [scroll-container]="this.tab.defaultTab.html">
        <div class="spacer"></div>
        <app-profile-picture *ngIf="(this.auth.user$ | async) as user" [user]="user" [routerLink]="['/user', user.id]"></app-profile-picture>
    </app-top-bar>
    
    <div id="header">
        <div id="cover"></div>
        <div id="header-content">
            <h1>{{ i.title }}</h1>
            <div id="author">
                <app-profile-picture [user]="i.author" [routerLink]="['/user', i.author.id]"></app-profile-picture>
                <p [routerLink]="['/user', i.author.id]">{{ i.author.name }}</p>
            </div>
        </div>
    </div>

    <div id="content">
        <p>{{ i.content }}</p>
    </div>

    <app-comment-section [comments]="this.comments" [idea]="this.idea" (order-by-change)="this.commentOrderBy = $event"></app-comment-section>
    
</ng-container>
