#container {

    #cover {
        position: relative;
        width: 100%;
        aspect-ratio: 16/9;
        max-height: 300px;

        #cover-background {
            position: absolute;
            top: calc(-1 * var(--top-bar-height));
            left: 0;
            height: calc(100% + var(--top-bar-height));
            width: 100%;
        }

        #goals {
            position: absolute;
            bottom: 10px;
            width: 100%;
        }
    }

    #page-content {
        padding-top: var(--large-spacing);

        #header {
            width: 100%;
            gap: var(--spacing);
    
            #title {
                margin-left: calc(32px + 2 * var(--gutter));
                margin-right: var(--gutter);
            }
    
            #author {
                position: relative;
                margin-left: calc(32px + 2 * var(--gutter));
    
                #author-name { font-weight: bold; }
                #date { opacity: 0.5; }
    
                app-profile-picture {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(calc(-100% - 10px), -7px);
                }
            }

            #external-links {
                width: 100%;

                #open-in-new {
                    opacity: 0.5;
                }

                #external-link-label {
                    margin-top: -4px;
                    opacity: 0.5;
                    margin-left: calc(32px + 2 * var(--gutter));
                }
            }
        }

        #content {
            width: 100%;
            min-height: 60px;
            padding-left: calc(32px + 2 * var(--gutter));
            padding-right: var(--gutter);
        }

        app-comment-section {
            width: 100%;
        }
    }
}