<div id="container">

    <div *ngIf="shouldDisplaySortBy()" id="sort-by" class="flex">
        <button [mat-menu-trigger-for]="menu" mat-button>
            <span>sort by</span>
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateSortBy('recent')">Recent</button>
            <button mat-menu-item (click)="updateSortBy('popular')">Popular</button>
          </mat-menu>
    </div>

    <div id="first-section-header-background" [style.backgroundColor]="stuckBackgroundColor"></div>

    <div class="section" *ngFor="let s of sections">
        <div
            class="section-header flex row justify-start gutter"
            [style.backgroundColor]="s.stuck ? color.transparentColor(stuckBackgroundColor, .66) : 'transparent'"
            [class.invisible]="!s.header"
            appIntersection 
            rootMargin="-101px 0px 0px 0px"
            (isIntersecting)="s.stuck = !$event"
        >
            <span>{{ s.header }}</span>
        </div>
        <div class="section-content" [class.mobile]="screen.isMobile$ | async">
            <app-idea-card *ngFor="let i of s.ideas" [idea]="i"></app-idea-card>
        </div>
    </div>

</div>