<div id="container" [class.mobile]="screen.isMobile$ | async">

    <div *ngIf="!stuck[0]" id="sort-by" class="flex">
        <button [mat-menu-trigger-for]="menu" mat-button>
            <span>sort by</span>
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateSortBy('recent')">Recent</button>
            <button mat-menu-item (click)="updateSortBy('popular')">Popular</button>
          </mat-menu>
    </div>

    <div id="first-section-header-background" [style.backgroundColor]="stuckBackgroundColor"></div>

    <div class="section">
        <div 
            class="section-header flex row justify-start gutter frosted"
            [style.backgroundColor]="stuck[0] ? color.transparentColor(stuckBackgroundColor, .66) : 'transparent'"
            [class.mobile]="screen.isMobile$|async"
            appIntersection 
            [rootMargin]="(screen.isMobile$|async) ? '-93px 0px 0px 0px' : '89px 0px 0px 0px'" 
            (isIntersecting)="this.stuck[0]=!$event"
            [ngSwitch]="sortBy"
        >
            <span *ngSwitchCase="'recent'">Today</span>
            <span *ngSwitchCase="'popular'">Top 10</span>
        </div>
        <app-idea-card *ngFor="let i of ideas" [idea]="i"></app-idea-card>
    </div>

</div>