<div id="container">
    <app-top-bar 
        [left-item]="(screen.isMobile$ | async) ? 'logo' : undefined"
        [title]="(screen.isMobile$ | async) ? undefined : 'All Ideas'"
    ></app-top-bar>

    <h1 *ngIf="screen.isMobile$ | async" id="title" class="gutter">All Ideas</h1>

    <p class="gutter">Ea quidem voluptatum qui quasi repellendus et nostrum doloremque. Suscipit officiis veritatis non veritatis quod sunt quia minus molestiae. Dolores non voluptatem...</p>

    <app-h-scroll>
        <app-goal-chip *ngFor="let g of goals" [goal]="g"></app-goal-chip>
    </app-h-scroll>

    <app-idea-list [ideas]="ideas"></app-idea-list>

</div>
