<div id="container">

  <app-top-bar [left-item]="(screen.isMobile$ | async) ? 'logo' : undefined">
    @if (!(screen.isMobile$|async)) {
    <h1 class="no-margin-bottom">All ideas</h1>
    }
    <div class="spacer"></div>
    <app-profile-picture class="pointer" [user]="auth.user$|async"
      (click)="auth.goToProfile()"></app-profile-picture>
  </app-top-bar>

  <div id="header">
    @if (screen.isMobile$ | async) {
    <h1 id="title" class="gutter">All ideas</h1>
    }

    <p class="gutter">Ea quidem voluptatum qui quasi repellendus et nostrum doloremque. Suscipit officiis veritatis non
      veritatis quod sunt quia minus molestiae. Dolores non voluptatem...</p>

    <app-h-scroll>
      @for (g of goals; track g.id) {
      <app-goal-chip [goal]="g" [routerLink]="['goal', g.id]"></app-goal-chip>
      }
    </app-h-scroll>
  </div>

  <app-idea-list [ideas]="ideas" (sort-by-change)="onSortByChange($event)"></app-idea-list>

</div>
