<div class="flex align-start">
    <div class="left-column flex column large-gap">
        <div class="logo pointer bg contain" mat-ripple [matRippleCentered]="true" [matRippleUnbounded]="true" [matRippleRadius]="32"></div>
        <app-tab-icons [tabs]="tabs" [(selected)]="selectedTab"></app-tab-icons>
        <app-fab></app-fab>
    </div>
    <div id="tabs">
        <div *ngFor="let tab of tabs" class="tab" [class.selected]="tab.name == selectedTab.name">
            <ng-template [ngComponentOutlet]="tab.component"></ng-template>
        </div>
    </div>
</div>
