#container {
    position: relative;
    padding-bottom: 67px;  // input height

    app-top-bar {

        #title {
            padding-left: var(--spacing);
        }
    }

    #messages {
        flex-direction: column-reverse;
    }

    #input {
        position: fixed;
        bottom: var(--nav-bar-height);
        left: 0;
        padding-top: var(--spacing);
        padding-bottom: var(--spacing);
        width: 100%;

        input {
            margin-left: var(--gutter);
            margin-right: var(--gutter);
            flex: 1;
        }
    }
    

}