#container {
    position: relative;
    --input-height: 67px;
    padding-bottom: var(--input-height);

    app-top-bar {

        #title {
            padding-left: var(--spacing);
        }
    }

    #messages {
        flex-direction: column-reverse;
        min-height: calc(
            100vh 
            - var(--nav-bar-height) 
            - var(--top-bar-height) 
            - var(--input-height)
        );
        padding-bottom: var(--spacing);

        app-message {
            width: 100%;

            &.with-spacer {
                margin-bottom: var(--spacing);
            }
        }
    }

    #input {
        position: fixed;
        bottom: var(--nav-bar-height);
        left: 0;
        padding-top: var(--spacing);
        padding-bottom: var(--spacing);
        width: 100%;

        input {
            margin-left: var(--gutter);
            margin-right: var(--gutter);
            flex: 1;
        }
    }
    

}