<div id="container">
    <app-top-bar 
        left-item="back"
        [reverse-scroll]="true"
    >
        <ng-container *ngIf="findOtherUser(auth.user$|async) as otherUser">
            <app-profile-picture 
                class="pointer"
                [user]="otherUser"
                [routerLink]="['/', 'ideas', 'user', otherUser.id]"
            ></app-profile-picture>
            <h2 
                id="title" 
                class="no-margin-bottom pointer"
                [routerLink]="['/', 'ideas', 'user', otherUser.id]"
            >{{ otherUser.name }}</h2>
        </ng-container>
        <div class="spacer"></div>
        <app-profile-picture
            class="pointer"
            [user]="auth.user$|async"
            [routerLink]="['/', 'ideas', 'profile']"
        ></app-profile-picture>
    </app-top-bar>

    <div id="messages" 
        class="flex justify-end small-gap" 
        [class.mobile]="screen.isMobile$|async"
        *ngIf="auth.user$|async as loggedInUser"
    >
        <app-message 
            *ngFor="let m of messages; let i = index"
            [class.with-spacer]="shouldHaveSpacer(i)"
            [message]="m"
            [from-user]="loggedInUser.id === m.author.id"
        ></app-message>
    </div>

    <div 
        id="input" 
        class="flex gutter frosted"
        [class.mobile]="screen.isMobile$|async"
    >
        <app-profile-picture [user]="auth.user$|async"></app-profile-picture>
        <input type="text" placeholder="Your message">
        <app-chip
            label="Message"
            color="var(--blue)"
            icon="send"
        ></app-chip>
    </div>


</div>