.tab-icon {
    width: 90px;

    &:not(.selected) .label { font-weight: lighter; }

    .icon-container {
        position: relative;

        .badge {
            position: absolute;
            top: -12px;
            right: -20px;
            --size: 24px;
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            border-radius: var(--size);
            text-align: center;
            background-color: var(--badge-color);
        }
    }
}

// responsive
// ----------------------------------------------

// small screens
@media only screen and (max-width: 700px) {
    #container {
        width: 100vw;
        flex-direction: row;
        gap: 0px;
        justify-content: space-between;
    }
}

// large screens
@media only screen and (min-width: 1200px) { }

