.tab-icon {
    width: 100px;

    &:not(.selected) .label { font-weight: lighter; }

    .icon-container {
        position: relative;

        .badge {
            position: absolute;
            top: -12px;
            right: -20px;
            --size: 24px;
            line-height: var(--size);
            width: var(--size);
            height: var(--size);
            border-radius: var(--size);
            text-align: center;
            background-color: red;
        }
    }
}
