#header {
    position: relative;
    padding-bottom: var(--spacing);

    #top-bar-filler {
        position: absolute;
        top: calc(-1 * var(--top-bar-height));
        left: 0;
        width: 100%;
        height: var(--top-bar-height);
    }
}