<div id="container" class="flex column align-start gutter">

    <div id="sort-by" class="flex">
        <button [mat-menu-trigger-for]="menu" mat-button>
            <span>sort by</span>
            <mat-icon>sort</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="updateSortBy('recent')">Recent</button>
            <button mat-menu-item (click)="updateSortBy('popular')">Popular</button>
        </mat-menu>
    </div>

    <div class="section">
        <div class="section-header flex row justify-start">
            <span>{{ header }}</span>
        </div>
        <div class="section-content">
            <app-comment [comment]="comment"></app-comment>
        </div>
    </div>

    <app-chip 
        id="expand"
        [label]="makeLabel()"
        icon="expand_more"
        color="var(--foreground-color)"
        foreground-color="var(--darker-background-color)"
    ></app-chip>


</div>