#container {
    --header-height: 48px;
    position: relative;
    background-color: var(--darker-background-color);
    padding-bottom: var(--large-spacing);

    #sort-by {
        position: absolute;
        top: 0;
        right: var(--gutter);
        z-index: 2;  // above section header
        height: var(--header-height);
    }

    .section {

        .section-header {
            height: var(--header-height);
            z-index: 1;
        }
    }

    #expand {
        margin-top: var(--spacing);
    }
}