<div appIntersection (isIntersecting)="this.stuck=!$event"></div>
<div 
    id="container" 
    class="gutter frosted" 
    [style.backgroundColor]="color.transparentColor(this.backgroundColor, .66)"
    [ngClass]="{'frosted': stuck, 'mobile': (screen.isMobile$ | async)}"
    [ngSwitch]="leftItem"
>
    <div id="content" class="flex">

        <div *ngSwitchCase="'logo'"
            id="logo" 
            class="pointer left-item"
            [class.mobile]="screen.isMobile$|async"
            matRipple 
            [matRippleCentered]="true" 
            [matRippleUnbounded]="true" 
            [matRippleRadius]="32"
        >
            <img src="assets/light-logo-without-text.png" alt="logo">
        </div>
    
        <div 
            *ngSwitchCase="'back'" 
            class="left-item"
            [class.mobile]="screen.isMobile$|async"
            (click)="location.back()"
        >
            <button mat-icon-button><mat-icon>arrow_back</mat-icon></button>
        </div>
    
        <ng-content></ng-content>

    </div>
</div>