#container {
    position: sticky;
    top: 0;
    z-index: 9;  // must be > 1 otherwise behind idea list section headers

    &.mobile {
        padding-top: var(--top-safe-area);
    }
    
    &:not(.mobile) {
        // 8px is the diff between #content.height and h1.height (/2 because top only)
        padding-top: calc(var(--spacing) + var(--large-spacing) - 8px);
    }

    &.stuck {
        background-color: red;
    }

    #content {
        height: 48px;

        .left-item {
            margin-right: 1px;  // mobile alignment with idea card
        }
        
        #logo {
            position: relative;
            height: 32px;
            img { height: 100%; }
        }
    }

}