#container {
    position: sticky;
    top: 0;
    padding-bottom: 8px;
    z-index: 1;

    &.mobile {
        padding-top: var(--top-safe-area);
    }
    
    &:not(.mobile) {
        padding-top: calc(var(--spacing) + var(--large-spacing));
    }

    &.stuck {
        background-color: red;
    }
    
    #logo {
        position: relative;
        height: 32px;
        img { height: 100%; }
    }
}