<div id="container">

  <app-top-bar left-item="back">
    <div class="spacer"></div>
    <app-profile-picture class="pointer" [user]="auth.user$|async"
      [routerLink]="['/', 'ideas', 'profile']"></app-profile-picture>
  </app-top-bar>

  <div id="cover">
    <div id="cover-background" class="bg cover" [style.backgroundImage]="'url(assets/default-cover-picture.png)'"></div>
    <div id="profile-picture">
      <app-profile-picture [user]="user" [large]="true"></app-profile-picture>
    </div>
  </div>

  <div id="header" class="flex column">
    <h1 id="name" class="no-margin-bottom gutter">{{ user?.name }}</h1>
    <div id="since" class="gutter">
      member since {{ time.getYear(user?.date) }}
      - {{ ideas?.length }} idea{{ ideas && ideas.length > 1 ? 's' : '' }}
    </div>
    @if (user?.externalLinks?.length) {
    <div id="external-links">
      <app-h-scroll>
        <mat-icon id="open-in-new">open_in_new</mat-icon>
        @for (el of user?.externalLinks; track el) {
        <app-external-link [external-link]="el"></app-external-link>
        }
      </app-h-scroll>
      <div id="external-link-label">External links</div>
    </div>
    }
    <div id="bio" class="gutter">{{ user?.bio }}</div>
  </div>

  <app-idea-list [ideas]="ideas" (sort-by-change)="onSortByChange($event)"></app-idea-list>

</div>
