<div id="container">

  <app-top-bar [left-item]="user?.isUser ? 'close' : 'back'">
    @if(! user?.isUser) {
    <div class="spacer"></div>
    <app-profile-picture class="pointer" [user]="auth.user$|async"
      (click)="auth.goToProfile()"></app-profile-picture>
    } @else {
    <h2 class="no-margin-bottom">My profile</h2>
    }
  </app-top-bar>

  <div id="cover">
    <div id="cover-background" class="bg cover" [style.backgroundImage]="'url(assets/default-cover-picture.png)'"></div>
    <div id="profile-picture">
      <app-profile-picture [user]="user" [large]="true"></app-profile-picture>
    </div>
  </div>

  <div id="header" class="flex column">
    <h1 id="name" class="no-margin-bottom gutter">{{ user?.name }}</h1>
    <div id="since" class="gutter">
      member since {{ time.getYear(user?.date) }}
      - {{ ideas?.length }} idea{{ ideas && ideas.length > 1 ? 's' : '' }}
    </div>

    <app-external-links
        [is-logged-in-user]="user?.isUser"
        [external-links]="user?.externalLinks"
        (add)="addExternalLink($event)"
        (delete)="deleteExternalLink($event)"
        ></app-external-links>

    <div id="bio" class="gutter">{{ user?.bio }}</div>
  </div>

  <app-idea-list [ideas]="ideas" (sort-by-change)="onSortByChange($event)"></app-idea-list>

</div>
