<div id="container">
    <div id="scroll-container" class="flex gap h-scroll no-scrollbar" [style.padding-left]="this.leftPadding" [style.padding-top]="this.topPadding">
        <div appIntersection (isIntersecting)="this.leftShadow=!$event"></div>
        <ng-content></ng-content>
        <div appIntersection (isIntersecting)="this.rightShadow=!$event"></div>
    </div>
    <ng-container *ngIf="this.hideShadows === false">
        <div id="left-shadow" class="shadow" [class.show]="leftShadow"></div>
        <div id="right-shadow" class="shadow" [class.show]="rightShadow"></div>
    </ng-container>
</div>