<div id="container">
    <app-top-bar left-item="close">
        <h2 class="no-margin-bottom">New discussion</h2>
        <div class="spacer"></div>
        <app-profile-picture 
            class="pointer"
            [user]="auth.user$|async"
            [routerLink]="['/', 'ideas', 'profile']"
        ></app-profile-picture>
    </app-top-bar>

    <div 
        id="content"
        [class.mobile]="screen.isMobile$|async"    
    ></div>

    <div 
        id="input" 
        class="flex gutter frosted"
        [class.mobile]="screen.isMobile$|async"
    >
        <app-profile-picture [user]="auth.user$|async"></app-profile-picture>
        <input type="text" placeholder="Your message">
        <app-chip
            label="Message"
            color="var(--blue)"
            icon="send"
        ></app-chip>
    </div>

</div>