<div id="container">
  <app-top-bar left-item="close">
    <h2 class="no-margin-bottom">New discussion</h2>
    <div class="spacer"></div>
    <app-profile-picture class="pointer" [user]="userData.user$|async"
      (click)="userData.goToProfile()"></app-profile-picture>
  </app-top-bar>

  <div
    id="content"
    [ngClass]="{'focus': inFocus, 'mobile': screen.isMobile$|async}"
  >
    <div id="to" class="gutter">
      @if (selectedUser; as u) {
      <app-chip id="selected" [label]="u.name" icon="close" color="var(--foreground-color)"
        foreground-color="var(--background-color)" (click)="clearUser()"></app-chip>
      } @else {
      <input
        type="text"
        placeholder="To:"
        [(ngModel)]="searchString"
        (keyup)="onInputKeyup($event)"
      />
      }
      <ng-template #noSelect>
      </ng-template>
    </div>


    <div id="search-results">
      @for (u of searchResults; track u.id) {
      <div class="result flex column align-start small-gap" mat-ripple (click)="selectUser(u)">
        <app-profile-picture class="picture" [user]="u"></app-profile-picture>
        <p class="name no-margin-bottom">{{ u.name }}</p>
        <p class="id no-margin-bottom">{{ u.id }}</p>
      </div>
      }
    </div>

  </div>

  <div
    id="input"
    class="flex gutter frosted"
    [ngClass]="{'focus': inFocus, 'mobile': screen.isMobile$|async}"
  >
    <app-profile-picture [user]="userData.user$|async"></app-profile-picture>
    <input
      type="text"
      placeholder="Your message"
      [(ngModel)]="content"
      (focus)="onInputFocus()"
      (blur)="onInputBlur()"
    />
    <app-chip label="Message" color="var(--blue)" icon="send" (click)="submit()"
      [class.disabled]="!this.formIsValid()"></app-chip>
  </div>

</div>
