#container {
    position: fixed;
    top: var(--spacing);
    left: var(--spacing);
    padding-top: var(--large-spacing);
    padding-bottom: var(--large-spacing);
    justify-content: space-evenly;
    border-radius: var(--spacing);
    z-index: 1;

    &.mobile {
        top: initial;
        left: initial;
        bottom: 0;
        width: 100vw;
        flex-direction: row;
        padding-top: 8px;
        padding-left: var(--gutter);
        padding-right: var(--gutter);
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #logo {
        position: relative;
        height: 32px;
        img { height: 100%; }
    }
}
