#container {
    width: var(--nav-bar-width);
    padding-top: var(--large-spacing);
    padding-bottom: var(--large-spacing);

    #logo {
        position: relative;
        height: 32px;
        img { height: 100%; }
    }
}
