<div id="input" class="flex align-end">
    <mat-form-field>
        <mat-label>What do you think?</mat-label>
        <textarea matInput [(ngModel)]="this.content" [ngModelOptions]="{standalone: true}"></textarea>
    </mat-form-field>
    <app-chip color="green" icon="send" label="Comment" (click)="this.postComment()"></app-chip>
</div>

<div id="comments">
    <div class="flex">
        <div class="spacer"></div>
        <mat-form-field appearance="fill">
            <mat-label>Order by</mat-label>
            <mat-select [(value)]="this.orderByField">
                <mat-option *ngFor="let field of this.CommentOrderBy | keyvalue" [value]="field.value">
                    {{ field.key }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div id="content">
        <ng-container *ngIf="this.comments.length > 0">
            <!-- collapsed mode -->
            <ng-container *ngIf="this.collapsed; else allComments">
                <p >{{ this.comments[0].content }}</p>
                <app-chip *ngIf="this.makeSeeMoreLabel() as label" color="white" foreground-color="var(--darker-background-color)" icon="expand_more" [label]="label" (click)="this.seeMore()"></app-chip>
            </ng-container>
            <!-- expanded mode -->
            <ng-template #allComments>
                <p *ngFor="let comment of this.comments">{{comment.content}}</p>
            </ng-template>
        </ng-container>
    </div>
</div>