<div id="container">

    <div id="input" class="flex gutter">
        <app-profile-picture [user]="auth.user$|async"></app-profile-picture>
        <input 
            type="text" 
            placeholder="What do you think?"
            [(ngModel)]="commentBody"
            (keydown.enter)="onPostComment()"
            #input
        />
        <app-chip
            label="Comment"
            color="var(--green)"
            icon="send"
            [class.disabled]="!this.formIsValid()"
            (click)="onPostComment()"
        ></app-chip>
    </div>

    <div id="comments" *ngIf="comments && comments.length else noComments" [class.collapsed]="isCollapsed">

        <div *ngIf="shouldDisplaySortBy()" id="sort-by" class="flex">
            <button [mat-menu-trigger-for]="menu" mat-button>
                <span>Sort by</span>
                <mat-icon>sort</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="updateSortBy('recent')">Recent</button>
                <button mat-menu-item (click)="updateSortBy('popular')">Popular</button>
            </mat-menu>
        </div>

        <div id="first-section-header-background"></div>
        
        <ng-container *ngIf="isCollapsed; else expanded">
            <div class="section" *ngIf="sections && sections.length && sections[0].comments.length">
                <div
                    class="section-header flex row justify-start gutter"
                    [class.invisible]="!sections[0].header"
                >
                    <span>{{ sections[0].header }}</span>
                </div>
                <div class="section-content" [class.mobile]="screen.isMobile$ | async">
                    <app-comment 
                        *ngIf="sections[0].comments[0] as c"
                        [comment]="c"
                        (upvote)="upvote.next(c.id)"
                        (downvote)="downvote.next(c.id)"
                    ></app-comment>
                </div>
            </div>
            <app-chip 
                *ngIf="makeLabel() as label"
                id="expand"
                [label]="label"
                icon="expand_more"
                color="var(--foreground-color)"
                foreground-color="var(--darker-background-color)"
                (click)="isCollapsed = false"
            ></app-chip>
        </ng-container>

        <ng-template #expanded>
            <div class="section" *ngFor="let s of sections">
                <div
                    class="section-header flex row justify-start gutter"
                    [style.backgroundColor]="s.stuck ? color.transparentColor('#303030', .66) : 'transparent'"
                    [class.invisible]="!s.header"
                    appIntersection 
                    [rootMargin]="(screen.isMobile$|async) ? '-49px 0px 0px 0px' : '-101px 0px 0px 0px'"
                    (isIntersecting)="s.stuck = !$event"
                >
                    <span>{{ s.header }}</span>
                </div>
                <div class="section-content" [class.mobile]="screen.isMobile$ | async">
                    <app-comment 
                        *ngFor="let c of s.comments" 
                        [comment]="c"
                        (upvote)="upvote.next(c.id)"
                        (downvote)="downvote.next(c.id)"
                    ></app-comment>
                </div>
            </div>
        </ng-template>

    </div>

    <ng-template #noComments>
        <div id="no-comments"></div>
    </ng-template>

</div>
