app-nav-bar {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }
}

#tabs {
    position: relative;
    z-index: 1;
    min-height: 100vh;
}