<app-top-bar [scroll-container]="this.tab.defaultTab.html">
    <h1>All ideas</h1>
    <div class="spacer"></div>
    <app-profile-picture *ngIf="(this.auth.user$ | async) as user" [user]="user" [routerLink]="['/user', user.id]"></app-profile-picture>
</app-top-bar>

<div id="header">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas reprehenderit veniam voluptate quibusdam excepturi eveniet quaerat amet, recusandae quos laborum enim blanditiis sapiente accusamus dolore hic dicta asperiores eligendi maiores!</p>
    
    <app-h-scroll>
        <app-goal-chip *ngFor="let g of this.goals" [goal]="g" [routerLink]="['/goal', g.id]"></app-goal-chip>
    </app-h-scroll>
</div>

<app-idea-list [ideas]="this.ideas" [(orderByField)]="this.ideaOrderBy"></app-idea-list>