<div id="container">

  <app-top-bar left-item="close">
    <h2 class="no-margin-bottom">New idea</h2>
  </app-top-bar>

  <div id="cover">
    <div id="cover-background" class="bg cover" [style.backgroundImage]="coverPreview ? 'url('+coverPreview+')' : ''"
      [class.lowkey]="coverPreview"></div>

    <div id="upload">
      <app-file-picker (file-change)="onCoverChange($event)"></app-file-picker>
    </div>

    <div id="goals">
      <app-h-scroll [hide-shadows]="true" left-padding="calc(2 * var(--gutter) + 32px)">
        <app-chip label="Add a goal" icon="add" color="var(--background-color)" foreground-color="var(--grey)"
          [mat-menu-trigger-for]="menu"></app-chip>
        <mat-menu #menu="matMenu">
          @for (g of selectableGoals; track g.id) {
          <button mat-menu-item (click)="selectGoal(g)">
            {{ g.name }}
          </button>
          }
        </mat-menu>
        @for (g of selectedGoals; track g.id) {
        <app-goal-chip [goal]="g"></app-goal-chip>
        }
      </app-h-scroll>
    </div>
  </div>

  <!-- ... -->


  <div id="form" class="flex column gap">
    <input id="title" type="text" placeholder="Choose a title" (keyup)="refreshFabDispaly()" [(ngModel)]="title">

    <div id="content-container">
      <app-profile-picture [user]="auth.user$|async"></app-profile-picture>
      <textarea id="content" placeholder="Explain your idea" (keyup)="refreshFabDispaly()"
        [(ngModel)]="content"></textarea>
    </div>
  </div>

</div>
