<div *ngIf="idea" class="flex column" [class.mobile]="screen.isMobile$ | async">
    <div 
        id="cover" 
        class="bg cover pointer" 
        [style.backgroundImage]="'url(assets/default-cover-picture.png)'"
        mat-ripple
    > <!-- TODO: do not trigger ripple when child is clicked -->
        <div id="goals">
            <app-goal-chip *ngFor="let g of idea.goals" [goal]="g" [no-label]="true" [clickable]="false"></app-goal-chip>
        </div>
        <div id="cheers">
            <app-chip icon="favorite" label="12" color="var(--background-color)" foreground-color="var(--foreground-color)" [clickable]="false"></app-chip>
        </div>
    </div>
    <div id="bottom" class="flex column align-start gutter">
        <h2 id="title" class="no-margin-bottom pointer">{{ idea.title }}</h2>
        <div id="author">
            <app-profile-picture [user]="idea.author" class="pointer"></app-profile-picture>
            <p class="no-margin-bottom"><span class="pointer">{{ idea.author.name }}</span> - {{ time.makeAgo(idea.date) }}</p>
        </div>
    </div>
</div>
